// SPDX-License-Identifier: AGPL-3.0
/*
 * Copyright 2023 Au-Zone Technologies
 */

// Maivin 1 Overlays

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8mp-clock.h>
#include <dt-bindings/gpio/gpio.h>

#include "imx8mp-pinfunc.h"

/ {
	compatible = "toradex,verdin-imx8mp";
};

/* Verdin I2C_2 */
&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	dac@d {
		compatible = "ti,dac081c081", "ti,dac5571";
		reg = <0x0d>;
		vref-supply = <&csi_3v3>;
	};
};

/* Verdin I2C_4 */
&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	dac@d {
		compatible = "ti,dac081c081", "ti,dac5571";
		reg = <0x0d>;
		vref-supply = <&csi_3v3>;
	};
};

/* Verdin I2C_1 */
&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	eeprom_rear_io: eeprom@54 {
		compatible = "st,24c02";
		pagesize = <16>;
		reg = <0x54>;
	};
};

&cameradev {
	status = "okay";
};

&isp_0 {
	status = "okay";
};

&isp_1 {
	status = "okay";
};

&dewarp {
	status = "okay";
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};

};

&iomuxc {
	/* Rear IO */
	pinctrl_rear_io: rear_io {
		fsl,pins =
			<MX8MP_IOMUXC_NAND_READY_B__GPIO3_IO16		0x82>,	/* SODIMM 64  - SW1  - User Input Button */
			<MX8MP_IOMUXC_NAND_DQS__GPIO3_IO14		0x82>,	/* SODIMM 66  - LED1 - LED Output */
			<MX8MP_IOMUXC_GPIO1_IO00__GPIO1_IO00		0x82>,	/* SODIMM 206 - IO1  - Input 1 */
			<MX8MP_IOMUXC_GPIO1_IO01__GPIO1_IO01		0x82>,	/* SODIMM 208 - IO2  - Input 2 */
			<MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05		0x82>,	/* SODIMM 210 - IO3  - Output 1 */
			<MX8MP_IOMUXC_GPIO1_IO06__GPIO1_IO06		0x82>;	/* SODIMM 212 - IO4  - Output 2 */
	};

	/* LED Drivers */
	pinctrl_led_drivers: led_drivers {
		fsl,pins =
			<MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05		0x184>,	/* SODIMM 15 - LED1_EN */
			<MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11		0x184>,	/* SODIMM 16 - LED2_EN */
			<MX8MP_IOMUXC_NAND_DATA02__GPIO3_IO08		0x82>;	/* SODIMM 60 - LED_WDI */
	};

	/* CSI-1 Controls */
	pinctrl_csi1_control: csi1_control {
		fsl,pins =
			<MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01		0x142>,	/* SODIMM 46  - CSI1_IO2 Direction */
			<MX8MP_IOMUXC_SAI3_RXD__GPIO4_IO30		0x142>,	/* SODIMM 48  - CSI1_IO1 Direction */
			<MX8MP_IOMUXC_GPIO1_IO07__GPIO1_IO07		0x184>,	/* SODIMM 216 - CSI1_IO1 Flash Input */
			<MX8MP_IOMUXC_SAI1_RXD1__GPIO4_IO03		0x184>;	/* SODIMM 220 - CSI1_IO2 Triger Output */
	};

	/* CSI-2 Controls */
	pinctrl_csi2_control: csi2_control {
		fsl,pins =
			<MX8MP_IOMUXC_SAI3_TXC__GPIO5_IO00		0x142>,	/* SODIMM 42  - CSI2_IO2 Direction */
			<MX8MP_IOMUXC_SAI3_TXFS__GPIO4_IO31		0x142>,	/* SODIMM 44  - CSI2_IO1 Direction */
			<MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08		0x184>,	/* SODIMM 218 - CSI2_IO1 Flash Input */
			<MX8MP_IOMUXC_SAI1_RXC__GPIO4_IO01		0x184>;	/* SODIMM 222 - CSI2_IO2 Trigger Output */
	};
};
